@import url('http://fonts.googleapis.com/css?family=Inter');

/* Global Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family */
    --header: Raleway;
    --body: Open Sans;
    
    /* font-weight */
    --normal: 300;
    --bold: 500;
    --bolder: 700;
    
    /* color */
    --body: hsl(240, 38%, 20%);
    --text: hsl(240, 18%, 77%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    font-size: 18px;
    background: url('../images/pattern-curve.svg') no-repeat;
    background-position: bottom left;
    background-size: 60%;
}
p {
    margin: 0;
    color: var(--body);
}

.container {
    width: 335px;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px; */
}
.top {
    background-image: url('../images/pattern-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px;
    margin-bottom: 10px;
    /* border: solid 1px; */
}
/* #image {
    width: 100%;
    height: auto;
    border: solid 1px;
} */
.nav {
    width: fit-content;
    background-color: white;
    padding: 8px;
    border-radius: 30px;
    left: 30%;
    bottom: 14px;
    position: absolute;
    /* border: solid 1px; */
}
.text {
    background-image: url('../images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 20%;
}
#comment {
    padding: 20px 0;
    font-weight: var(--normal);
}
#name {
    font-weight: var(--bolder);
}
#title {
    color: var(--text);
    font-weight: var(--bold);
}


.attribution { 
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: var(--body);
}
.attribution a { 
    color: var(--text);
    text-decoration: none;
}



/* Media Queries - Responsiveness */

/* MD - Medium Screen */
@media only screen and (min-width: 765px) {

    .container {
       flex-direction: row-reverse;
       width: 100%;

       align-items: center;
       justify-content: flex-end;

       position: relative;
    }
    .top {
        width: 50%;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .text {
        width: 62%;
    }
    .text > * {
        text-align: left;
    }
    .user {
        display: flex;
    }
    #name {
        margin-right: 10px;
    }
    .nav {
        z-index: 9999;
    }   
}

/* SM - Small Screen */
/* @media only screen and (max-width: 576px){

} */


/* @timiodulate css template */